<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/Dashboard/@ViewBag.Id"> Home </a>
    @model Act
    @if(@Model.UserId == @ViewBag.Id){
                        <a href="/delete/@Model.ActivityId">Delete</a>}
                        else if(Model.Participants.Any(a => a.UserId == ViewBag.Id)){
                            <a href="/cancel/@Model.ActivityId">Leave</a>
                        }
                        else{
                            <a href="/join/@Model.ActivityId">Join</a>
        }

    <h2>@Model.Title</h2>
    <h3> Event Coordinator: @ViewBag.Name</h3>
    <h3> Descriptions: </h3>
    <p> @Model.ActivityDescription</p>
    <hr>
    <p> </p>
    <h3> Participants: </h3>
            <ul>
        @foreach(var name in @Model.Participants){
            <li> @name.Guests</li> 
        }
            </ul>
</body>
</html>